.navbarContent {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  transition: 0.3s linear;
}

.navbarContent > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
}

.navbarContentActive {
  transition: 0.5s linear;
  box-shadow: #002b6473 0px 10px 25px -0px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background: #00093c;
}

.navbarContentActive > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
}

::-webkit-scrollbar {
  background: #ffffff;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background: #00093c;
}

.navbarLogo {
  width: 100px;
}

.navbarLogo > a {
  width: 100%;
}

.navbarLogo > a > img {
  transition: 0.3s linear;
  width: 100%;
}

.navbarUl {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 502px;
}

.navbarUl > .courses {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarUl > .courses > a {
  font-weight: 700;
  font-size: 14px;
}

.navbarUl > .courses > a:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.navigators {
  font-weight: 700;
  font-size: 14px;
  color: #02061c;
  text-decoration: none;
}

.navigatorsWh {
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.contact > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}

.contactLi {
  list-style-type: none;
}

.contactLi > a {
  text-decoration: none;
  font-size: 16px;
  color: #02061c;
}

.contactLiWh > a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.contactLiWh > select {
  letter-spacing: 1.2px;
  font-size: 16px;
  color: #fff;
  background: transparent;
  border: none;
  text-decoration: underline;
}

select {
  font-weight: 500;
  letter-spacing: 1.2px;
  font-size: 16px;
  color: #02061c;
  background: transparent;
  border: none;
  text-decoration: underline;
}

option {
  font-size: 14px;
  letter-spacing: 4px;
  color: #02061c;
  font-family: "Montserrat";
}


.authPageWh {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
  gap: 10px;
}

.authPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
  color: #02061c;
  font-weight: 700;
  gap: 10px;
}